.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: visibility 0.3s ease, opacity 0.3s ease;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: transform 0.3s ease;
  transform: translateX(100%);
  z-index: 1001;
  overflow: scroll;
}

.cart-overlay.showCart {
  visibility: visible;
  opacity: 1;
}

.cart.showCart {
  transform: translateX(0);
}


.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}

.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
  font-family: monospace;

}

.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
  
}

.cart-item img {
  width: 75px;
  height: auto;
}

.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  font-weight: 500;
}

.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: 0.1rem;
  
}

.item-amount {
  text-align: center;
}

.remove-item {
  color: #51719c;
  cursor: pointer;
  font-weight: 600;
}

.fa-chevron-up,
.fa-chevron-down {
  color: #1f2937;
  cursor: pointer;
}

.cart-footer {
  margin-top: 2rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-family: system-ui;
}
.cart-footer button
{
  background: #1f2937;
  border-radius: 15px;
  color :#fff;
  padding: 10px;
}
.message {
  text-align: center;
  font-family: monospace;
  position: absolute;
  top:50%;
  left:120px;

}
