@tailwind base;
@tailwind components;
@tailwind utilities;

.home{
  background-image: url('images/back.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
}
.home2{
  background-image: url('images/back2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(#1f2160,#105e8e);
    border-radius: 20px;
    height: 250px;
  
  }
  ::-webkit-scrollbar-track {
    background: none;
  }
  body.dark-mode {
    background-color: #121212;
    color: #ffffff;
  }
  body.dark-mode .card {
    background-color: rgb(36, 35, 35);
    color :white;
}
.bg-babyBlue{
  background-color:#105e8e;
}

  
/* The switch - the box around the slider */
.switch {
  display: block;
  --width-of-switch: 3.5em;
  --height-of-switch: 2em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.4em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #303136;;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon,1.4em);
  width: var(--size-of-icon,1.4em);
  border-radius: 20px;
  left: var(--slider-offset,0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
  ;
 transition: .4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
  background: #303136;
  /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}
/* From Uiverse.io by vinodjangid07 */ 
.filter {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.192);
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.021);
  transition: all 0.3s;
}

.filter svg {
  height: 16px;
  fill: rgb(255, 255, 255);
  transition: all 0.3s;
}
.filter:hover {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.11);
  background-color: rgb(59, 59, 59);
}
.filter:hover svg {
  fill: white;
}

/* .card{
  max-height:440px;
} */

.btn-flip {
  @apply relative inline-block;
  position: relative;
  width: 100px; /* Adjust as needed */
  height: 40px; /* Adjust as needed */
}

.btn-flip::before,
.btn-flip::after {
  content: attr(data-front);
  @apply absolute inset-0 block;
  transition: opacity 0.5s, transform 0.5s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  font-size: 25px;
  width: 200%;
  height: 110%;
  margin-top: 25px;
}

.btn-flip::before {
  @apply bg-gray-800 text-gray-500 font-bold;
  transform: rotateX(0) translateY(0);
}

.btn-flip::after {
  @apply bg-gray-400 text-gray-900 font-bold;
  content: attr(data-back);
  opacity: 0;
  transform: rotateX(90deg) translateY(50%);
}

.btn-flip:hover::before {
  opacity: 0;
  transform: rotateX(90deg) translateY(50%);
}

.btn-flip:hover::after {
  opacity: 1;
  transform: rotateX(0) translateY(0);
}