.search-bar {
  display: flex;
  align-items: center;
}

.user-input {
  padding: 5px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
  color:rgb(7, 7, 7);
}

.search {
  background: rgb(27, 95, 189);
  border: none;
  padding: 10px 15px;
  border-radius: 0 5px 5px 0;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search i {
  font-size: 1em;
}
#cartButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: 600;
  position: relative;
  transition: 0.3s;
}
.sidebar-toggle {
position: fixed;
left: 0;
top: 50%;
transform: translateY(-50%);
z-index: 50;
}
@media (max-width: 768px) {
.navbar .menu {
  display: none;
  width: 100%;
}

.navbar .menu.open {
  display: block;
}

.navbar .search-bar {
  width: 100%;
}

.navbar .btn {
  margin-top: 1rem;
}

.navbar .switch {
  margin-top: 1rem;
}


.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 16rem; /* 64 units in Tailwind */
  background-color: #1f2937; /* Tailwind's gray-800 */
  color: white;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 40;
}

.mobile-menu.open {
  transform: translateX(0);
}
}
.cart-popup{
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
  background-color: rgb(27, 95, 189);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: absolute;
  top: -35%;
  right:35%;
}
#cartButton:hover{
  transform: scale(0.9);
} 

.fixed {
position: fixed;
}

 